<h1><%= current_user.name %>'s to do list! </h1>
<p>You were last signed in at: <%= current_user.last_sign_in_at %></p>
<h5><strong>Remember. You only have a week to finish each task! After 7 days your task will be deleted.</strong></h5>
<%= render partial: "items/item" %>
<%= render partial: "items/form" %>
