<% @items.each do |item| %>
  <div class="media" id="item-<%= item.id %>">
    <div class="media-body">
      <div> - <strong><%= item.name %></strong>
      <%= link_to "", user_item_path(@user, item), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></div>
      <div>created <%= distance_of_time_in_words(item.created_at, Time.now) %> ago.</div>
    </div>
  </div>
<% end %>
