<% @items.each do |item| %>
  <div class="media">
    <div class="media-body">
      <div>-<%= item.name %>
      <%= link_to "",  user_item_path(current_user, item), method: :delete, class: 'glyphicon glyphicon-ok' %></div>
    </div>
  </div>
<% end %>
